In [1]:
# imports

import pandas as pd
import numpy as np

In [6]:
# load data 

_data = pd.read_csv('./spam.csv')

In [7]:
# show head
_data.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [16]:
# show shape

print(f'{_data.shape[0]} rows of messages.')

5572 rows of messages.

In [18]:
# separate text, format frame

_text = pd.DataFrame({'messages': _data.iloc[:,1]})

In [19]:
# show messages

_text.head()

                                            messages
0  Go until jurong point, crazy.. Available only ...
1                      Ok lar... Joking wif u oni...
2  Free entry in 2 a wkly comp to win FA Cup fina...
3  U dun say so early hor... U c already then say...
4  Nah I don't think he goes to usf, he lives aro...